/* Ensure the body and html take the full viewport size */
html, body, #root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden; /* Prevent scrollbars */
}

/* Style the div containing Excalidraw to take full screen */
.full-screen {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
